<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>MVC CanJS Basics</title>
  <meta name="author" content="Irene Ros">
  <link rel="stylesheet" type="text/css" href="../../assets/base.css">
  <!-- Date: 2012-06-29 -->
</head>
<body>
  <div class="container">
    <ul id="heroes" class="six columns offset-by-four">
      <li> Loading... </li>
    </ul>​
  </div>

  <!-- Template for rendering all heroes -->
  <script type="text/ejs" id="heroesEJS">
  <% heroes.each(function(hero) { %>
      <li <%= (el) -> el.data('hero', hero) %> >
        <%= hero.attr('name') %>
      </li>
    <% } ) %>
  </script>​

  <!-- resources -->
  <script type="text/javascript" src="../../libs/jquery.min.js"></script>
  <script type="text/javascript" src="../../libs/can.js"></script>
  <script type="text/javascript" src="canjs.js"></script>
  </body>
</html>



