<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>MVC CanJS Basics</title>
  <meta name="author" content="Irene Ros">
  <!-- Date: 2012-06-29 -->
</head>
<body>
  <ul id="heroes">
    <li> Loading... </li>
  </ul>

  <!-- Template for rendering all heroes -->
  <script type="text/ejs" id="heroesEJS">
  <% heroes.each(function(hero) { %>
      <li <%= (el) -> el.data('hero', hero) %> >
        <%= hero.attr('name') %>
      </li>
    <% } ) %>
  </script>​

  <!-- resources -->
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="http://canjs.us/release/1.0.5/can.jquery.js"></script>
  <script type="text/javascript" src="mvc-canjs.js"></script>
  </body>
</html>



